<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Book store</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Book Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="available_books">Available Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="my_books">My Books</a>
                </li>
            </ul>
            <div sec:authorize="isAuthenticated()">
                <h4>Hello</h4>
            </div>
            <div>
                <a class="nav-link text-white" href="/register">Register</a>
            </div>
            <div>
                <a class="nav-link text-white" href="/login">Login</a>
            </div>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link text-white" href="book_register" style="border:1px solid white" >New Book Register</a>
            </th:block>
        </div>
    </div>
</nav>
<div class="container text-center my-5">
    <h1>WELCOME TO MY BOOK STORE</h1>
    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aliquam animi aut culpa cumque dicta, dolorum, facilis iusto magnam molestiae nemo officiis praesentium quae quis saepe similique sit, temporibus?</h6>
    <img th:src="@{/images/pic1.png}" alt="Book Store Image"/>
</div>
<div class="container text-center">
    <a href="https://www.freepik.com/free-vector/hand-drawn-flat-design-stack-books-illustration_23974704.htm?epik=dj0yJnU9dHRqVElsdE5CWWE5dTVEWWJENDRjT1VPSlJ5WmlNUUImcD0wJm49OXVQVFFSaUxjTVVmVnpYQmxJN1B3dyZ0PUFBQUFBR1o3ell3">Image by freepik</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
